/********************************************************/

/* Colors */
:root {
  --brand-primary: #526C69;
  --brand-secondary: #CBCCAD;
  --brand-primary-dark: #223542;
  --highlight: #D89646;
  --info: #5B3C1F;
  --black: #010101;
  --white: #F7F9FB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--brand-primary);
  font-family: 'Asap', sans-serif;
  ;
}

a {
  color: var(--highlight);
}

/* Typeography */

h1,
h2,
h3 {
  margin: 0.5em auto;
  display: block;
  font-family: 'MuseoModerno', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

/* Superheader */

#superheader {
  display: flex;
  justify-content: space-between;
  background: var(--highlight);
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--brand-primary);
}

#superheader>span {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

#superheader>span>span,
#superheader a {
  display: flex;
  align-items: center;
  color: var(--brand-primary);
  text-decoration: none;
}

#superheader a:hover {
  color: var(--brand-primary-dark);
}

#superheader span svg.stroke {
  stroke: var(--brand-primary);
}

#superheader svg {
  margin-right: 0.2em;
}

#superheader span svg.fill {
  fill: var(--brand-primary);
}

#superheader span a:hover svg.stroke {
  stroke: var(--brand-primary-dark);
}

/* hide "Pensacola, FL" on small devices */
#superheader>span:nth-child(2) {
  display: none;
}

/* Header */

header,
header>span {
  display: flex;
  justify-content: space-between;
}

header {
  /* Position relative for navigation */
  position: relative;
}

/* Navigation */

header nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--brand-primary);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

header nav.showMenu {
  display: flex;
  height: fit-content;
}

header nav.showMenu ul {
  height: fit-content;
}

header nav ul {
  list-style: none;
  margin: 1em 0;
  padding: 1em;
  background: var(--brand-primary);
  width: 92%;
  height: 0;
  font-size: 1.5em;
  transition: height 3s;
}

header nav ul li {
  margin: 0.7em 0;
  padding: 0.5em 0;
  border-bottom: var(--brand-secondary) solid 1px;
}

header nav ul li a {
  text-decoration: none;
}

button.hamburger {
  height: fit-content;
  background: var(--brand-secondary);
  border-radius: 2px;
  border: none;
  display: flex;
  padding: 0.5em;
  cursor: pointer;
}

button.hamburger svg {
  stroke: var(--brand-primary-dark);
}

footer a {
  color: var(--brand-secondary);
}

footer a:hover {
  color: var(--brand-secondary-light);
}

footer {
  color: var(--brand-secondary-light);
}


header,
footer {
  background-color: var(--brand-primary-dark);
  padding: 1em;
}

footer {
  margin: 0;
  text-align: center;
}

main {
  background: var(--brand-secondary-light);
  margin: 0;
}

header {
  padding: 1em;
}



section {
  margin: 0;
  padding: 0 3em;
}


section:not(#portfolio) {
  padding: 0.8em 3em 2em;
}


.site-logo svg {
  fill: var(--brand-secondary);
  stroke: var(--brand-secondary);
  width: 300px;
  height: auto;
  /* Don't break on tiny screens */
  max-width: 60vw;
}

/* @media (min-width: 600px) {
  header>span nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #superheader > span:nth-child(2) {
      display: none;
  }
} */
