/********************************************************/

/* Colors */
:root {
  --brand-primary: #526C69;
  --brand-primary-dark: #425b5d;
  --brand-primary-ultra-dark: #223542;
  --brand-primary-light: #94a691;
  --brand-primary-ultra-light: #CBCCAD;
  --brand-secondary: #D89646;
  --brand-secondary-dark: #5b3c1f;
  --brand-secondary-light: #f6e9c8;
  --black: #010101;
  --white: #F7F9FB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--brand-primary);
  font-family: 'Asap', sans-serif;
  ;
}

a {
  color: var(--highlight);
}

/* Typeography */

h1,
h2,
h3 {
  margin: 0.5em auto;
  display: block;
  font-family: 'MuseoModerno', sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

/* Superheader */

#superheader {
  display: flex;
  justify-content: space-between;
  background: var(--brand-primary);
  margin: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--brand-secondary-light);
}

#superheader>span {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

#superheader>span>span,
#superheader a {
  display: flex;
  align-items: center;
  color: var(--brand-secondary-light);
  text-decoration: none;
}

#superheader a:hover {
  color: var(--brand-primary-light);
}

#superheader span svg.stroke {
  stroke: var(--brand-secondary-light);
}

#superheader svg {
  margin-right: 0.2em;
}

#superheader span svg.fill {
  fill: var(--brand-secondary-light);
}

#superheader span a:hover svg.stroke {
  stroke: var(--brand-primary-light);
}

/* hide "Pensacola, FL" on small devices */
#superheader>span:nth-child(2) {
  display: none;
}

/* Header */

header,
header>span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  /* Position relative for navigation */
  position: relative;
}

/* Logo */

header .site-logo svg {
  width: 300px;
  height: auto;
  /* Don't break on tiny screens */
  max-width: 60vw;
}

header .site-logo svg {
  stroke: none;
  fill: var(--brand-secondary-light);
}

header .site-logo svg #paper-plane {
  fill: var(--brand-secondary-light);
}


/* Navigation */

header nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--brand-primary);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

header nav.showMenu {
  display: flex;
  height: fit-content;
}

header nav.showMenu ul {
  height: fit-content;
}

header nav ul {
  list-style: none;
  margin: 1em 0;
  padding: 1em;
  width: 92%;
}

header nav ul li {
  margin: 0.7em 0;
  padding: 0.5em 0;
  border-bottom: var(--brand-secondary-dark) solid 1px;
}

header nav ul li a:hover {
  color: var(--brand-primary-light);
}

header nav ul li a {
  text-decoration: none;
  color: var(--brand-secondary-light);
}

button.hamburger {
  height: fit-content;
  background: var(--brand-primary-light);
  border-radius: 2px;
  border: none;
  display: flex;
  padding: 0.5em;
  cursor: pointer;
}

button.hamburger svg {
  stroke: var(--brand-primary-dark);
}

footer a {
  color: var(--brand-primary-light);
}

footer a:hover {
  color: var(--brand-secondary-light);
}

footer {
  color: var(--brand-secondary-light);
}


header,
footer {
  background-color: var(--brand-primary-ultra-dark);
  padding: 1em;
}

footer {
  margin: 0;
  text-align: center;
}

main {
  background: var(--brand-secondary-light);
  margin: 0;
}

header {
  padding: 1em;
}



section {
  margin: 0;
  padding: 0 3em;
}


section:not(#portfolio) {
  padding: 0.8em 3em 2em;
}

@media (min-width: 600px) {

  #superheader>span:nth-child(2) {
    display: flex;
  }

  button.hamburger {
    display: none;
  }

  header nav {
    display: inline-block;
    background: none;
    position: static;
    font-size: 1em;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header nav ul li {
    border: none;
    padding: 0;
    margin: 0 0.5em;
  }
}
